@media (max-width:1200px) {
 body{
    /* min-height: 20em; */
    min-width:200px;
    min-height: 300px;
    height:95vh;
    width:100vw;
    overflow: hidden;
 }
 .playarea{
   overflow: hidden;
    min-width:200px;
    min-height: 300px;
 }   
 .score{
    font-size: 2em;
    padding: 0;
 }

 .paddle{
    /* min-height: 20%; */
 }
 .ball{
    /* min-height: 0.8rem;
    min-width: 0.8rem; */
 }.paddle.left{
   left:0.4rem;
   
   }
   .paddle.right{
   right:0.4rem;
   }
   
 .winner{
    font-size:2.3em;
    height:fit-content;
    width: fit-content;
    padding: 0.1rem;
 }
 .start{
    font-size: 0.7rem;
    top:2em;
 }
 #again{
    font-size: 0.9rem;
    padding: 0.4rem;
    height:fit-content;
    width: fit-content;
 }
 .levels{
    width:100vw;
    font-size: 0.5em;
    top:auto;
    align-items: center;
    justify-content: center;
    left: auto;
    flex-shrink: 1;
     bottom: 5%;
 }
 .level{
    padding: 0.5rem 0.7rem;
 }
 .players{
   display: none;
 }
}
